/*Шапка*/
.header {
    display: grid;
    grid-template-columns: 1fr min-content 1fr;
    align-items: center;
    padding: 92px 50px 96px 50px;
}

.header__links-list {
    display: flex;
    gap: 30px;
    justify-self: start;
}

.header__links-list-item {
    list-style: circle;
    text-decoration: underline;
    text-underline-offset: 3px;
}

.header__links-list-item_no-bullit {
    list-style: none;
}

.header__logo {
    position: relative;
    min-width: 148px;
    min-height: 105px;
}

.header__logo-image {
    position: absolute;
    inset: 0, 10px;
    width: 100%;
    height: 100%;
}

.header__address {
    max-width: 240;
    justify-self: end;
}

/*Обложка*/

.cover {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: relative;
    margin-bottom: 180px;
}

.background-image,
.card_type_film,
.card_type_book,
.card_type_picture {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.overlay {
    position: absolute;
    background-color: rgb(0 0 0 / 0.6);
    inset: 0;
}

.cover__title {
    display: flex;
    flex-direction: column;
    padding: 165px 50px 106px 50px;
}

.word {
    text-transform: uppercase;
    color: white;
    font-size: 100px;
    font-weight: 700;
    letter-spacing: 0.3em;
    z-index: 1;
}

.left {
    text-align: start;
}

.center {
    text-align: center;
}

.right {
    text-align: end;
}

.cover__description {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 50px 50px 50px;
    z-index: 1;
}

.cover__description-text {
    color: white;
    text-transform: uppercase;
    font-size: 22px;
    font-weight: 400;
    word-spacing: 0.9em;
}

.bet-button {
    text-transform: uppercase;
    border: 1px, solid white;
    font-weight: 500;
    font-size: 22px;
    background-color: inherit;
    color: white;
    width: 256px;
    height: 51px;
}

/*Лоты*/

.lots {
    margin: 0 24px 120px 24px;
}

.lots__heading {
    display: inline-block;
    margin-left: 40px;
    text-transform: uppercase;
    font-style: bold;
    font-size: 40px;
}

.lots__card-list {
    display: flex;
    gap: 25px;
    margin-top: 27px;
}

.lots__card-list-item {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: relative;
    width: 334px;
    min-height: 596px;
}

.card__title {
    font-weight: 700;
    font-size: 22px;
    text-transform: uppercase;
    text-decoration: underline;
    text-underline-offset: 0.1em;
    color: white;
    z-index: 1;
    margin: 48px 40px 0 40px;
}

.card__text {
    font-size: 20px;
    font-weight: 400;
    color: white;
    z-index: 10;
    margin: 0 40px 48px 40px;
}

.lots__look-more-link {
    display: inline-block;
    margin-left: 40px;
    margin-top: 30px;
    font-size: 20px;
    font-weight: 400;
    text-decoration: underline;
    text-underline-offset: 4px;
}

/**/

.about__column {
    display: grid;
    grid-template-columns: 334px auto;
    margin: 0 24px 180px 24px;
}

.about__logo {
    position: relative;
    background-color: black;
    width: 240px;
    height: 240px;
    border-radius: 50%;
    margin-left: 47px;
}

.about__logo-image {
    position:absolute;
    margin: 63px 46px; 
    max-width: 148px;
    max-height: 114px;
}

.about__description {
    margin-top: 133px;
    margin-left: 15px;
}

.about__title {
    font-weight: 700;
    font-size: 40px;
    text-transform: uppercase;
    margin-bottom: 100px;
}

.about__text {
    font-size: 20px;
    font-weight: 400;
    margin-bottom: 30px;
}

.last-paragraph {
    margin-bottom: 0;
}

/*footer*/

.footer {
    display: flex;
    justify-content: space-between;
    padding: 0, 50px;
    height: 180px;
}

.footer__menu-list-item {
    list-style: none;
    text-decoration: underline;
    text-underline-offset: 3px;
    justify-self: center;
}

.footer__menu-link_active {
    text-decoration: none;
}

.footer__social-list-item {
    display: flex;
    justify-content: space-between;
    gap: 48px;
    list-style: none;
}

.footer__social-icon {
    width: 48px;
    height: 48px;
}