/*################# 1. header #################*/

.header {
    display: grid;
    grid-template-columns: 1fr min-content 1fr;
    align-items: center;
    padding: 92px 50px 96px 50px;
}

.header__links-list {
    display: flex;
    gap: 33px;
    justify-self: start;
}

.header__link-list-item {
    list-style: circle;
}

.header__link-list-item-no-bullit {
    list-style: none;
}

.header__link,
.footer__link {
    font-size: 18px;
    font-weight: 400;
    font-style: normal;
    line-height: 1.33;
    text-decoration: 1.2px underline;
    text-underline-offset: 4px;
}

.header__link-not-active,
.footer__link-not-active {
    text-decoration: none;
}

.header__logo {
    position: relative;
    min-width: 148px;
    min-height: 105px;
}

.header__logo-image {
    position: absolute;
    left: 7px;
    width: 135px;
    height: 106px;
}

.header__address {
    display: block;
    min-height: 95px;
    max-width: 235px;
    justify-self: end;
    margin-right: 5px;
}

.header__address-text,
.footer__address-text {
    font-weight: 400;
    font-style: normal;
    font-size: 18px;
    line-height: 1.33;
}

/*################# 2. cover #################*/

.cover {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: relative;
    margin-bottom: 180px;
    background: url(/images/cover.jpg) center / cover no-repeat;
}

.overlay {
    position: absolute;
    background-color: rgb(0 0 0 / 0.6);
    inset: 0;
}

.cover__title {
    display: flex;
    flex-direction: column;
    padding: 165px 50px 106px 50px;
    gap: 20px;
}

.cover__title-word {
    display: block;
    height: 115px;
    text-transform: uppercase;
    color: white;
    font-size: 100px;
    font-weight: 700;
    letter-spacing: 0.3em;
    z-index: 1;
}

.cover__title-word-left {
    text-align: start;
}

.center {
    text-align: center;
}

.cover__title-word-right {
    text-align: end;
}

.no-letter-spacing {
    letter-spacing: 0;
}

.cover__description {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 50px 50px 50px;
    z-index: 1;
}

.cover__description-text {
    color: white;
    text-transform: uppercase;
    font-size: 22px;
    font-weight: 400;
    word-spacing: 18.5px;
}

.bet-button {
    text-transform: uppercase;
    border: 1px, solid white;
    font-weight: 500;
    font-size: 22px;
    background-color: inherit;
    color: white;
    width: 256px;
    height: 51px;
}

/*################# 3. lots #################*/

.lots {
    margin: 0 24px 120px 24px;
}

.lots__heading {
    display: inline-block;
    margin-left: 40px;
    text-transform: uppercase;
    font-style: bold;
    font-size: 40px;
}

.lots__card-list {
    display: flex;
    flex-wrap: wrap;
    gap: 25px;
    margin-top: 27px;
    list-style: none;
}

.lots__card-list-item {
    position: relative;
    width: 334px;
    min-height: 596px;
}

.card {
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.card__title {
    position: relative;
    font-weight: 700;
    font-size: 22px;
    text-transform: uppercase;
    text-decoration: 1px underline;
    text-underline-offset: 4px;
    color: white;
    z-index: 1;
    margin: 48px 40px 0 40px;
}

.card__text {
    position: relative;
    font-size: 20px;
    font-weight: 400;
    color: white;
    z-index: 1;
    margin: 0 40px 48px 40px;
}

.card_type_film {
    background: url(/images/card-lot-01.jpg) center / cover no-repeat;
}

.card_type_book {
    background: url(/images/card-lot-02.jpg) center / cover no-repeat;
}

.card_type_picture {
    background: url(/images/card-lot-03.jpg) center / cover no-repeat;
}

.lots__look-more-link {
    display: inline-block;
    margin-left: 40px;
    margin-top: 30px;
    font-size: 20px;
    font-weight: 400;
    text-decoration: 1.2px underline;
    text-underline-offset: 5px;
}

/*################# 4. about #################*/

.about__column {
    display: grid;
    grid-template-columns: 334px auto;
    margin: 0 24px 180px 24px;
}

.about__logo {
    position: relative;
    background-color: black;
    width: 240px;
    height: 240px;
    border-radius: 50%;
    margin-left: 47px;
    margin-top: 34px;
}

.about__logo-image {
    position: absolute;
    top: 63px;
    left: 46px;
    max-width: 148px;
    max-height: 114px;
}

.about__description {
    margin-top: 135px;
    margin-left: 25px;
    margin-right: 3px;
}

.about__title {
    font-weight: 700;
    font-size: 40px;
    text-transform: uppercase;
    margin-bottom: 100px;
}

.about__text {
    font-size: 20px;
    font-weight: 400;
    margin-bottom: 24px;

}

.last-paragraph {
    margin-bottom: 0;
}

/*################# 5. footer #################*/

.footer {
    display: flex;
    justify-content: space-between;
    height: 180px;
}

.footer__address {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 95px;
    max-width: 240px;
    justify-self: end;
    margin-left: 50px;
}

.footer__menu-list-item {
    list-style: none;
    justify-self: center;
}

.footer__social-list {
    display: flex;
    justify-content: space-between;
    gap: 48px;
    list-style: none;
    margin-right: 50px;
}

.footer__social-icon {
    width: 48px;
    height: 48px;
}